.project {
  padding: 80px;
  position: relative;
  background-color: black;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.project p {
  color: var(--secondary-color);
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 14px auto 80px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.project .nav.nav-pills {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: var(--white);
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #f05f1c -5.91%, #330063 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: auto;
}

.proj-imgbx img {
  width: auto;
  height: 308px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #f25f29 -5.91%, #330063 111.58%);
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  padding: 15px;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx .description {
  font-size: 18px;
  font-weight: 200;
}

.proj-imgbx .link-proj {
  font-size: 14px;
  background-color: #2c2c2c5d;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  padding: 10px 10px;
  margin: 20px 5px 0px 0px;
  text-decoration: none;
}

.proj-imgbx .link-proj:hover {
  background-color: var(--black);
}

.background-image-right {
  top: 0%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************* Modal ****************/
.btn-close {
  background-color: var(--white) !important;
}

.modal-content {
  padding: 20px;
  background-color: var(--black) !important;
}

.modal-title {
  font-size: 30px !important;
  color: #f05f1c !important;
}


.modal-content .modal-about {
  font-size: 20px;
  color: #d6d6d6;
}

.modal-content .modal-contrast {
  color: var(--primary-color);
}

.modal-content .modal-technology {
  font-size: 18px;
}


/************* Media Querie ****************/

/* Mobile */
@media (max-width: 480px) {
  .project {
    padding: 5px;
    width: 100%;
  }

  .project p {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin: 14px auto 30px auto;
  }

  .proj-txtx h4 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

  .proj-txtx .description {
    font-size: 1em;
    font-weight: 200;
  }

  .proj-txtx .subdescription {
    font-style: italic;
    font-size: 0.8em;
    letter-spacing: 0.8px;
    display: none;
  }

  .proj-imgbx .link-proj {
    font-size: 1em;
    background-color: #2c2c2c5d;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 8px 10px;
    margin: 0 2vw;
  }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  .project {
    padding: 5px;
    width: 100%;
  }

  .project p {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin: 14px auto 30px auto;
  }

  .proj-txtx h4 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

  .proj-txtx .description {
    font-size: 1em;
    font-weight: 200;
  }

  .proj-txtx .subdescription {
    font-style: italic;
    font-size: 0.8em;
    letter-spacing: 0.8px;
    display: none;
  }

  .proj-imgbx .link-proj {
    font-size: 1em;
    background-color: #2c2c2c5d;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 8px 10px;
    margin: 0 2vw;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .project {
    padding: 50px;
    width: 100%;
  }


  .project p {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin: 14px auto 30px auto;
  }

  .proj-txtx h4 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

  .proj-txtx .description {
    font-size: 2em;
    font-weight: 200;
  }

  .proj-txtx .subdescription {
    font-style: italic;
    font-size: 1em;
    letter-spacing: 0.8px;
  }

  .proj-imgbx img {
    width: auto;
    height: 500px;
  }

  .proj-imgbx .link-proj {
    font-size: 1em;
    background-color: #2c2c2c5d;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 8px 10px;
    margin: 1em 5em;
  }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  .proj-imgbx img {
    width: auto;
    height: 250px;
  }
  .project {
    padding: 50px;
    width: 100%;
  }


  .project p {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin: 14px auto 30px auto;
  }

  .proj-txtx h4 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }

  .proj-txtx .description {
    font-size: 1.2em;
  }

  .proj-imgbx .link-proj {
    font-size: 1em;
    background-color: #2c2c2c5d;
    color: #fff;
    border-radius: 5px;
    padding: 8px 10px;
  }

}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1919px) {}

/* Extra large screens */
@media (min-width: 1920px) {}